<!DOCTYPE html>
<html>
  <head>
    <title>Car Dealership</title>
  </head>
  <body>
    <h1>Add a car to our dealership!</h1>
    <form action="/car/create" method="post">
      <label for="new-car">New Car Make/Model:</label>
      <input type="text" name="make-model" id="make-model">
      <label for="new-car">New Car Price:</label>
      <input type="text" name="make-model" id="new-price">
      <label for="new-car">New Car Miles:</label>
      <input type="text" name="make-model" id="new-miles">
    </form>
  </body>
</html>
