<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cleared List</title>
  </head>
  <body>
    <p>Congrats you cleared the list!</p>
    <p><a href="/">Add new car?</a></p>
  </body>
</html>
